{% extends 'base.html.twig' %}

{% block title %}New {{ operationName }}{% endblock %}

{% block body %}
    <h1>Create new {{ operationName }}:</h1>
    {% include('operation/_form_' ~ operationSlug ~ '.html.twig') %}
{% endblock %}
