{% extends 'base.html.twig' %}

{% block title %}New debt{% endblock %}

{% block body %}
    <h1>Create new debt:</h1>

    <ul>
    {% for error in operationErrors %}
        <li><span style="background: red; color: white;">{{ error.message }}</span></li>
    {% endfor %}
    </ul>

    {{ form_start(debtForm) }}
        {{ form_widget(debtForm) }}
        <button type="submit">Save new debt</button>
    {{ form_end(debtForm) }}

{% endblock %}
