{% extends 'base.html.twig' %}

{% block title %}Show debt{% endblock %}

{% block body %}
    <div style="width: 50%; height: 500px; float: left;">
        {{ include('debt/_summary.html.twig') }}
    </div>
    <div style="width: 50%; height: 500px; float: right;">

    </div>
{% endblock %}
